<div class="row align-items-center text" style="margin: 20px">

  <div class="{{ (isScreenSmall | async ) ? 'col-sm-8' : 'col-12'}} d-flex">

    <div class="col-1">
      <img src="assets/airbnblogo.png" style="height: 65px;">
    </div>

    <div class="{{ (isScreenSmall | async ) ? 'col-sm-7' : 'col-10'}}">
      <mat-card class="input-card d-flex align-items-center" style="height: 57px; box-shadow: 1px 2px 5px 0px grey;">
        <div class="row">

          <div class="col-1 d-flex" style="align-self: center;">
            <mat-icon matTooltip="Buscar">search</mat-icon>
          </div>

          <div class="{{ (isScreenSmall | async ) ? 'col-sm-6' : 'col-10'}}">
            <input formControlName="search" class="form-control input-sidenav shadow-none" type="text"
                   placeholder="Paris . Stays" style="border: none;font-size: 1.2rem;
                 font-weight: 900;">
          </div>

        </div>
      </mat-card>
    </div>

  </div>

  <ng-container *ngIf="isScreenSmall | async">
    <div class="col-4 d-flex align-items-center" style="text-align: center">
      <div class="col-3"><h6>Become a host</h6></div>
      <div class="col-2"><h6>Saved</h6></div>
      <div class="col-2"><h6>Trips</h6></div>
      <div class="col-2"><h6>Messages</h6></div>
      <div class="col-2"><h6>Help</h6></div>
      <div class="col-1 image" mat-card-avatar></div>
    </div>
  </ng-container>

</div>

<mat-divider style="width: 100%"></mat-divider>
