.text {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400;
  color: black;
}

.tags {
  border-radius: 50px;
  margin: 5px 1px 5px 1px;
  border-width: 2px;
  border-color: lightgray;
}

.tag {
  width: 38px;
  height: 21px;
  font-size: small;
  background-color: #800d57;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: 500;
}

.title-style {
  max-width: 44ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
}

::ng-deep .carousel-control-next {
  display: none !important;
}

::ng-deep .carousel-control-prev {
  display: none !important;
}

agm-map {
  height: calc(100vh - 155px);
  width: 105%;
}


.price-align{
  display: flex;
  justify-content: end;
  height: 51%;
  align-items: flex-end;
}

.font-sm{
  font-size: 9px;
}

.font-lg{
  font-size: 15px;
}

.button-align{
  float: unset;
  margin-left: 40%;
  display: flex !important;
  position: absolute;
  z-index: 2;
}

.card-map{
  width: 35%;
  z-index: 1;
  position: absolute;
  margin-left: 35%;
  height: 40px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}
