.text {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400;
  color: black;
}

.tags {
  border-radius: 50px;
  margin: 5px 1px 5px 1px;
  border-width: 2px;
  border-color: lightgray;
}

.img-card {
  border-radius: 5px;
  width: 400px;
  height: 250px;
}

.tag {
  width: 38px;
  height: 21px;
  font-size: small;
  background-color: #800d57;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: 500;
}

.title-style {
  max-width: 44ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
}

::ng-deep .carousel-control-next {
  display: none !important;
}

::ng-deep .carousel-control-prev {
  display: none !important;
}
